REAL_IO_ENABLED=false
CODESYS_OPCUA_ENDPOINT=opc.tcp://<codesys-runtime>:4840
CODESYS_OPCUA_NAMESPACE=urn:<codesys-project>:columnas
CODESYS_OPCUA_SECURITY_POLICY=Basic256Sha256
CODESYS_OPCUA_SECURITY_MODE=SignAndEncrypt
OPCUA_POLLING_MS=1000
